# PHP Stan Config

parameters:
	tmpDir: %currentWorkingDirectory%/tmp/phpstan-codeblocks-amazon-incentives
	level: 9
	paths:
		- %currentWorkingDirectory%/src
	excludePaths:
		# ignore composer
		- vendor
		- test
