<?xml version="1.0"?>
<phpunit colors="true" cacheDirectory=".phpunit.cache">
    <!-- Below removes final from classes for mock tests -->
    <!-- <extensions>
        <extension class="test\phpUnit\Extension\BypassFinalExtension" file="test/phpUnit/Extension/BypassFinalExtension.php" />
    </extensions> -->
    <extensions>
        <bootstrap class="DG\BypassFinals\PHPUnitExtension"/>
    </extensions>
    <testsuites>
        <testsuite name="unit">
            <directory>test/phpUnit/</directory>
        </testsuite>
    </testsuites>
</phpunit>
