<?xml version="1.0"?>
<phpunit
    colors="true"
    cacheDirectory=".phpunit.cache"
    bootstrap="vendor/autoload.php"
>
    <!-- Below removes final from classes for mock tests -->
    <extensions>
        <bootstrap class="DG\BypassFinals\PHPUnitExtension"/>
    </extensions>
    <testsuites>
        <testsuite name="unit">
            <directory>test/phpUnit/</directory>
        </testsuite>
    </testsuites>
    <source>
		<include>
			<directory>./src</directory>
		</include>
	</source>
    <coverage>
		<report>
			<html outputDirectory="build/coverage-report"/>
            <text outputFile="php://stdout" showUncoveredFiles="true" showOnlySummary="true"/>
		</report>
    </coverage>
</phpunit>
